name: Run flightflow DBT project

on:
  workflow_dispatch: 
  push: 
    branches:
      - dev
      - main

jobs:
  dbt-run:
    runs-on: ubuntu-latest
    
    env:
      DBT_TARGET: ${{ github.ref_name }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      WORKING_DIR: transform


    steps:
    - name: Print DBT target
      run: echo "DBT target is ${{ env.DBT_TARGET }}"

    - name: Checkout code
      uses: actions/checkout@v3

    # Set up Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    # Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: make debug
      run: make debug TARGET=${{ env.DBT_TARGET }}

    - name: make test
      run: make test TARGET=${{ env.DBT_TARGET }}

    - name: make run
      run: make run TARGET=${{ env.DBT_TARGET }}

